@font-face {
  font-family: "Digitalt";
  src: url("../fonts/Digitalt.otf") format("opentype");
}

.main_title {
  font-family: "Digitalt", sans-serif;
  letter-spacing: 10px;
  width: 100%;
  /* height: auto; */
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffdb0a;
  font-size: 150px;
  font-style: normal;
  /* font-weight: 500; */

  -webkit-text-stroke: 11px #f06400;
  stroke-linejoin: bevel;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Digitalt", sans-serif;
}

.background {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;

  display: flex;
  justify-content: center; 
  align-items: center;  
} 

.sub_title {
  font-family: "Digitalt", sans-serif;
  letter-spacing: 6px;
  width: 100%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffdb0a;
  font-size: 40px;
  font-style: normal;
  /* font-weight: 500; */

  -webkit-text-stroke: 3px #f06400;
  stroke-linejoin: bevel;
}

.button {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.iya {
  background-color: transparent;
  display: block;
}

.main_title2 {
  font-family: "Digitalt", sans-serif;
  letter-spacing: 10px;
  width: 100%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: -80px;
  color: #ffdb0a;
  font-size: 128px;
  font-style: normal;
  /* font-weight: 500; */

  -webkit-text-stroke: 11px #f06400;
  stroke-linejoin: bevel;
}

.back {
  margin-bottom: 60px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-family: "Digitalt", sans-serif;
  letter-spacing: 5px;
  
  width: 80%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0px;
  color: #ffdb0a;
  font-size: 40px;
  font-style: normal;

  -webkit-text-stroke: 3px #f06400;
  stroke-linejoin: bevel;
}

.question_amount {
  font-family: "Digitalt", sans-serif;
  letter-spacing: 6px;
  
  width: 80%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 40px;
  font-style: bold;
  opacity: 50%;
}

.question {
  font-family: "Digitalt", sans-serif;
  letter-spacing: 6px;
  
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 30px;
  font-style: bold;
  opacity: 100%;

  -webkit-text-stroke: 2px #098AEE;
  text-shadow: 0px 4px #098AEE;
}

.question {
  display: inline-block;
  background-image: url('../images/tag.svg');
  background-repeat: no-repeat;
  background-size: contain; /* Keep aspect ratio */
  background-position: center;

  padding: 0.4em 1em; /* Tweak this for spacing inside the ribbon */
  white-space: nowrap;
  text-align: center;

  /* These help control size */
  line-height: 1;
}

.answer {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;  
  margin-left: 2;
  margin-right: 2;
}

.paragraph_page4 {
  font-family: "Digitalt", sans-serif;
  letter-spacing: 2.5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 30px;
  font-weight: bold; 
  opacity: 0.5; 
  margin-top: -150px;
  margin-bottom: -50px; 
}

.paragraph_page5 {
  font-family: "Digitalt", sans-serif;
  letter-spacing: 2.5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 30px;
  font-weight: bold; 
  opacity: 0.5; 
  margin-top: 40px;
  margin-bottom: -30px; 
}



.answer_tof {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.tag {
  font-family: "Digitalt", sans-serif;
  letter-spacing: 2.5px;
  
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 30px;
  font-style: bold;
  opacity: 100%;

  -webkit-text-stroke: 2px #098AEE;
  text-shadow: 0px 4px #098AEE;
}

.tag {
  display: inline-block;
  background-image: url('../images/tag.svg');
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;

  padding: 0.4em 1.5em; 
  white-space: nowrap;
  text-align: center;

  line-height: 1;
}

.tag_result {
  display: inline-block;
  background-image: url('../images/tag.svg');
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;

  padding: 0.4em 1.5em; 
  white-space: nowrap;
  text-align: center;

  line-height: 1;

  font-family: "Digitalt", sans-serif;
  letter-spacing: 2.5px;
  
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 30px;
  font-style: bold;
  opacity: 100%;

  -webkit-text-stroke: 2px #098AEE;
  text-shadow: 0px 4px #098AEE;
}

.shape-container {
  width: 500px;
  height: 300px;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 30px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
  position: relative; /* Ini penting untuk absolute di dalamnya */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shape-container2 {
  width: 500px;
  height: 300px;
  background-color: white;
  margin-top: -20px;
  margin-bottom: -140px;
  border-radius: 30px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
  position: relative; /* Ini penting untuk absolute di dalamnya */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question_in_container{
  font-family: digitalt;
  color: #B57BFE;
  font-size: 20px;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

.paragraph_page6{
  font-family: "Digitalt", sans-serif;
  letter-spacing: 2.5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 30px;
  font-weight: bold; /* ganti dari font-style: bold ke font-weight */
  opacity: 0.5; /* ganti 50% jadi format CSS valid */
  margin-top: -60px;
  margin-bottom: -10px;
}

.red_tag_result {
  display: inline-block;
  background-image: url('../images/red-tag-no-text.svg');
  background-repeat: no-repeat;
  background-size: contain; /* Keep aspect ratio */
  background-position: center;

  padding: 0em 3em; /* Tweak this for spacing inside the ribbon */
  white-space: nowrap;
  text-align: center;

  /* These help control size */
  line-height: 1;
}

.red_tag_result {
  font-family: "Digitalt", sans-serif;
  letter-spacing: 2.5px;  
  
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 60px;
  font-style: bold;
  opacity: 100%;

  -webkit-text-stroke: 2px #ED0F29;
  text-shadow: 0px 4px #ED0F29;
}

.shape-container3 {
  width: 650px;
  height: 300px;
  background-color: white;
  margin-top: -20px;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
  position: relative; /* Ini penting untuk absolute di dalamnya */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.shape-container3-text{
  font-family: digitalt;
  color: #B57BFE;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.shape-container3-image {
  margin-left: 10px;
}

.back_page5 {
  display: flex;
  justify-content: center;
  align-items: center;
}